header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: wihte;
}

@media (max-width: 300px) {
    body {
        background-color: red;
    }
}